 /*---- Button ---- */

.button {
    padding: 1em 2.5em;
    background-image: linear-gradient(to right, $limegreen 0%, $cyan 100%);
    border-radius: 50px;
    color: $white;
    font-weight: $weightmenor;
    border: none;
    font-size: $fontsize - 4px;
    margin-bottom: 30px;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .button {
        padding: .8em 2em;
        font-size: 11.5px;
    }
}

@media screen and (min-width: 1024px) {
    .nav__button {
        margin-bottom: 0;
    }

    .button {
        margin-left: 150px;
        font-size: 14px; 
        padding: 1em 2.5em;
    }
}