/*---- Image ---- */

/* ---- logo * ----*/

.header__img--logo {
    height: 20px;
} 

.container__article--image {
    width: inherit;
    height: 200px;
    border-radius: 5px 5px 0 0;
}




.RS__container--icons {
    width: 23px;
    height: 23px;
}

@media screen and (min-width: 768px) {
    .items__all--image {
        width: 40px;
        height: 40px;
    }
    .container__article--image {
        height: 120px;
    }

    .RS__container--icons {
        width: 15px;
        height: 15px;
    }
}

@media screen and (min-width: 1024px) {
    .items__all--image {
        width: 80px;
        height: 80px;
    }

    .container__article--image {
        height: 200px;
    }

    .RS__container--icons {
        width: 19px;
        height: 18px;
    }
}