.linksF {
  margin-bottom: 16px; 
  text-decoration: none;
  color: $white;
  font-size: 14px;
  transition: .3s;
  display: block;
}

.linksF:nth-of-type(6) {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .linksF {
    font-size: 11px;
  }
}

@media screen and (min-width: 1024px) {
  .nav__links {
    text-decoration: none;
    color: $grayishblue;
    transition: .3s ease-in-out;
  }

  .nav__links:hover {
    color: $limegreen;
  }

  .linksF {
    font-size: 15px;
    width: 65px;
    transition: .3s ease-in-out;
  }

  .linksF:hover {
    color: $limegreen;
  }

  .containerDos__link3 {
    width: 97px;
  }
}