/*---- nav ---- */

nav {
    width: 40px;
    height: 20px;
    margin: 0 -6px;
    color: $grayishblue;
    background: url(/assets/images/icon-hamburger.svg) center no-repeat;
}

@media screen and (min-width: 768px) {
    nav {
        
    }
}