/*---- Pgraphs ---- */
%copy_general {
    line-height: 1.6em;
    font-size: $fontsize - 4px;
    font-weight: $weightmenor;
    margin-bottom: 2.3em;
}

.copy {
    @extend %copy_general;
}

.copy__items {
    @extend %copy_general;
    padding: 0 26px;
}

.container__article--pgraphBy {
    text-align: left;
    font-size: 9px;
    color: $grayishblue;
    opacity: .8;
    margin-top: 24px;
    margin-left: 32px;
}

.container__article--pgraphDescripcion {
    font-size: $fontsize - 6px;
    font-weight: $weightmenor;
    text-align: left;
    opacity: .8;
    padding: 0 30px;
    line-height: 18px;
}

.rights__EB {
    color: $grayishblue;
    font-weight: $weightmenor;
    font-size: 14px;
    margin-top: 0;
}