/*---- Pgraphs ---- */
%copy_general {
    line-height: 1.6em;
    font-size: $fontsize - 4px;
    font-weight: $weightmenor;
    margin-bottom: 2.3em;
}

.copy {
    @extend %copy_general;
}

.copy__items {
    @extend %copy_general;
    padding: 0 26px;
}

.container__article--pgraphBy {
    text-align: left;
    font-size: 9px;
    color: $grayishblue;
    opacity: .8;
    margin-top: 24px;
    margin-left: 32px;
}

.container__article--pgraphDescripcion {
    font-size: $fontsize - 6px;
    font-weight: $weightmenor;
    text-align: left;
    opacity: .8;
    padding: 0 30px;
    line-height: 18px;
}

.rights__EB {
    color: $grayishblue;
    font-weight: $weightmenor;
    font-size: 14px;
    margin-top: 0;
}

@media screen and (min-width: 768px) {
    .copy {
        font-size: 10px;
    }

    .copy__items {
        padding: 0;
        font-size: 9px;
        height: 90px;
    }

    .container__article--pgraphBy {
        font-size: 7px;
        margin-left: 15px;
    }

    .container__article--pgraphDescripcion {
        padding-left: 15px;
        font-size: 8px;
        line-height: 11px;
    }

    .rights__EB {
        height: 30px;
    }
}

@media screen and (min-width: 1024px) {
    .copy {
        margin: 20px 0 30px 150px;
        font-size: 17px;
    }

    .parrafo__why {
        margin: 0;
        padding-left: 78px;
        width: 610px!important;
    }

    .copy__items {
        font-size: 15px;
    }

    .container__article--pgraphBy {
        font-size: 9px;
    }

    .container__article--pgraphDescripcion {
        line-height: 0;
        font-size: 14px;
        line-height: 18px;
    }

    .rights__EB {
        margin: 0;
        font-size: 14px;
    }
}