/*---- Sections ---- */
%centrado {
    text-align: center;
}

.hero {
    @extend %centrado;
}

.why {
    height: 1300px;
    background-color: $lightgrayishblue;
    text-align: center;
}

.articles {
    @extend %centrado;
    background-color: $verylightgray;
    height: 1900px;
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .why {
        height: 430px;
    }

    .articles {
        padding: 0 4em;
        height: 450px;
    }
}

@media screen and (min-width: 1024px) {
    .hero {
        height: 780px;
    }

    .why {
        margin-top: -180px;
        height: 650px;
    }

    .articles {
        height: 640px;
    }
}
