/*---- Sections ---- */
%centrado {
    text-align: center;
}

.hero {
    @extend %centrado;
}

.why {
    height: 1300px;
    background-color: $lightgrayishblue;
    text-align: center;
}

.articles {
    @extend %centrado;
    background-color: $verylightgray;
    height: 1900px;
}
