/*---- Footer ---- */

footer {
  height: 510px;
  background-color: $darkblue;
  color: $white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: $fontsize - 2px;
}

@media screen and (min-width: 768px) {
  footer {
    flex-direction: row;
    align-items: center;
    height: 190px;
    padding: 0 4em;
  }
}

@media screen and (min-width: 1024px) {
  footer {
  }
}