@charset "UTF-8";
/*---- Variables ---- */
/*Primarios*/
/*neutrales*/
/*Tipografía*/
/*medidas*/
/*---- Mixins ---- */
/*---- Body ---- */
body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  color: #9698a6;
  max-width: 375px;
}

/*---- Header ---- */
header {
  display: flex;
  padding: 1em;
  justify-content: space-between;
}

/*---- Footer ---- */
/*---- Sections ---- */
.articles, .hero {
  text-align: center;
}

.why {
  height: 1300px;
  background-color: #f3f4f6;
  text-align: center;
}

.articles {
  background-color: #fafafa;
  height: 1900px;
  margin-bottom: 0;
}

/*---- Div ---- */
/* ---- hero ---- */
.hero__wrapper {
  padding: 0 1.5em;
  margin-bottom: 86px;
}

.hero__wrapper--banner {
  margin: 0 -27px;
  height: 300px;
  background: url(/assets/images/image-mockups.png) center bottom no-repeat, url(/assets/images/bg-intro-mobile.svg) center no-repeat;
  background-size: 345px, cover;
}

.why__description {
  margin-bottom: 60px;
}

/* --- articles --- */
.articles__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__article {
  width: 320px;
  height: 400px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 24px;
}

/*---- nav ---- */
nav {
  width: 40px;
  height: 20px;
  margin: 0 -6px;
  color: #9698a6;
  background: url(/assets/images/icon-hamburger.svg) center no-repeat;
}

/*---- List ---- */
/*---- Titles ---- */
.container__article--title, .items__all--titulo, .why__description--titulo, .title__h1 {
  color: #2d314d;
}

.title__h1 {
  font-size: 2.1em;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 0.5em;
}

.why__description--titulo {
  font-size: 1.8em;
  padding-top: 70px;
  font-weight: 300;
  margin-top: 0;
}

.items__all--titulo {
  font-weight: 300;
}

.container__article--title {
  font-weight: 300;
  font-size: 16px;
  opacity: 0.9;
  text-align: left;
  margin: 0 32px;
}

/*---- Pgraphs ---- */
.copy__items, .copy {
  line-height: 1.6em;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 2.3em;
}

.copy__items {
  padding: 0 26px;
}

.container__article--pgraphBy {
  text-align: left;
  font-size: 9px;
  color: #9698a6;
  opacity: 0.8;
  margin-top: 24px;
  margin-left: 32px;
}

.container__article--pgraphDescripcion {
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  opacity: 0.8;
  padding: 0 30px;
  line-height: 18px;
}

/*---- Button ---- */
.button {
  padding: 1em 2.5em;
  background-image: linear-gradient(to right, #31d35c 0%, #2bb7da 100%);
  border-radius: 50px;
  color: white;
  font-weight: 300;
  border: none;
  font-size: 14px;
}

/*---- Form ---- */
/*---- Image ---- */
/* ---- logo * ----*/
.header__img--logo {
  height: 20px;
}

.container__article--image {
  width: inherit;
  height: 200px;
  border-radius: 5px 5px 0 0;
}